$icomoon-font-family: "deciphex-font" !default;
$icomoon-font-path: "fonts" !default;

$deciphex-font-accepted: "\e900";
$deciphex-font-arrow: "\e901";
$deciphex-font-chevron: "\e903";
$deciphex-font-more: "\e904";
$deciphex-font-ok: "\e905";
$deciphex-font-partial: "\e906";
$deciphex-font-pending: "\e907";
$deciphex-font-rejected: "\e908";
$deciphex-font-search: "\e909";
$deciphex-font-suitcase: "\e90a";

